body {
  margin-top: 108px;
  font-family: "Nunito", sans-serif;
}

.mainHeading {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 3rem;
  color: #10255a;
}

.mainAuthorName {
  font-weight: bold;
  color: #10255a;
}

.border-primary {
  border-color: #7589fb !important;
}

#showcase .btn-outline-dark {
  color: #ffffff !important;
  font-weight: bold;
  background-color: #10255a;
  border-color: #10255a;
}

#showcase .btn-outline-dark:hover {
  color: #10255a !important;
  background-color: #ffffff;
  border-color: #ffffff;
}

.text-primary {
  color: #7589fb !important;
}

.bg-primary {
  background-color: #7589fb !important;
}

.btn-primary {
  border-color: #7589fb;
  background-color: #7589fb;
}

.btn-primary:hover {
  border-color: #10255a;
  background-color: #10255a;
}

.navbar {
  box-shadow: 2px 2px 5px #7589fb;
  opacity: 0.9;
  background: #fff;
}

.nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

#showcase {
  position: relative;
  background: url("../images/mountains.jpg");
  min-height: 600px;
}

.primary-overlay {
  background: rgba(117, 137, 251, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subHeading {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2.5rem;
  color: #7589fb;
}

.author-hr {
  margin-bottom: 90px;
}

#authors img {
  margin-top: -60px;
}

.author-card:hover {
  background: #7589fb;
  color: #fff;
}
.author-card:hover h3 {
  color: #fff;
}
.author-card:hover h5 {
  color: #171717;
}
.author-card:hover .bi {
  color: #fff;
}

.author-head {
  color: #7589fb;
}

.author-title {
  color: #444444;
}

.author-card .bi {
  color: #7589fb;
}

@media (max-width: 991px) {
  .author-card {
    margin-bottom: 60px;
  }
}

.contactHeading {
  color: #7589fb;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Merriweather Sans", sans-serif;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #f60;
}

footer .copyRightName:hover {
  color: gold;
}
